.post{
    padding-top: 50px;
    width: 385px;
    margin: 0px 25px 40px 25px;
}
.postImg{
    margin-top: 20px;
    width: 100%;
    height: 250px;
    border-radius: 4px;
    object-fit: cover;
}
.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.postCatItm{
    padding: 10px;
}
.postCat{
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: rgb(229, 4, 4);
    line-height: 20px;
    margin-top: 5px;
    cursor: pointer;
}
.postTitle{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 8px;
    cursor: pointer;
    text-align: center;
    color: rgb(27, 22, 22);
}
.postDate{
    font-family: 'Manrope', sans-serif;
    font-style: italic;
    font-size: 15px;
    margin-top: 8px;
}
.postDisc{
    margin-top: 6px;
    line-height: 25px;
    color: rgb(25, 27, 30);
    font-family: 'Jost', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}